body{
    background: url("img/bg.jpg") no-repeat center center fixed;    
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Ink Free', sans-serif;
}

.home-text-container{
    height: 300px;
    width: 80%;
    top: 50%;
    left: 50%;
    margin-top: 150px;
    margin-left: 10%;
}

.home-text{
    font-size: large;
    text-align: center;
    font-weight: bold;
    opacity: 0.5;
}

.home-text-lg{
    font-family: 'Bebas Neue';
    text-align: center;
    font-size: 12vw;
    font-weight: bold;
    letter-spacing: 1.5vw;
    mix-blend-mode: overlay;
}

.home-social-link {
  color: #A79027;
  opacity: 0.6;
}

.home-social-link:hover {
  color: #A79027;
  opacity: 1;
}
.container-bg-grad{
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgb(17, 39, 48));
    height: 100vh;
    display: flex;
}

.container-bg-dark{
    background: #112730;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgba(255, 255, 255, 0.36);
}
.container-bg-gold{
  background: #A79027;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgba(255, 255, 255, 0.36);
}
.container-text{
    height: fit-content;
    width: 40vw;
    top: 50%;
    left: 50%;
    margin-top: 30vh;
    margin-left: 30vw;
    text-align: center;
    font-size: 3vh;
    color: #112730;
    background: rgba(255, 248, 230, 0.3);
    padding: 2%;
    border-radius: 2rem;
    opacity: 100%;
}

.container-text:hover{
    background: #112730;
    color:#A79027;

}

.img-hover-3 {
  --s: 40vw;   /* the size of the image */
  --b: 8px;     /* the border thickness*/
  --g: 10px;    /* the gap */
  --c: rgba(167, 144, 39, 0.7); /* the color */
  
  width: var(--s);
  cursor: pointer;
  transition: 0.3s;
}
.img-hover-3:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

.navbar-bg{
    background-color: rgba(255, 255, 255, 0);
}

.navbar-bg-gold{
  background-color: #a79027;
}

.col-middle {
    width: 90vw;
    height: fit-content;
    top: 50%;
    left: 50%;
    margin-top: 2vh;
    margin-left: 5vw;
}
.text-light{
    color: white;
    text-align: left;
}
.text-light-left{
    color: white;
    text-align: left;
}
.text-light-justify{
    color: white;
    text-align: justify;
}
.text-light-center{
    color: white;
    text-align: center;
}

.text-dark-center{
  color: #112730;
  text-align: center;
}
.container-profile{
    background-color: black;
    height: 60vh;
    opacity: 0.7;
}

.container-profile:hover{
    height: 80vh;
    opacity: 1;
}

.title{
    text-align: center;
    color:white;
    margin-top: 5vh;
    opacity: 0.9;
    color: #A79027;
    font-weight: bold;
    font-family: "Bebas Neue";
    letter-spacing: 1vw;
}

.text-gold{
    color:#a79027
}
.img-hover-1 {
  --color: #FFF8E6; /* the border color */
  --border: 8px;   /* the border thickness*/
  --offset: 20px;   /* control the offset*/
  --gap: 5px;       /* the gap on hover */
  
  --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),var(--color) 0;
  --_o: calc(3*var(--offset));
  padding: 
    calc(var(--gap) + var(--border))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border));
  background: 
    linear-gradient(      var(--_c)) var(--_o) var(--_o), 
    linear-gradient(90deg,var(--_c)) var(--_o) var(--_o);
  background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
  background-repeat: no-repeat;
  filter: grayscale(.4);
  transition: .5s;
  cursor: pointer;
}
.img-hover-1:hover {
  background-position: 0px 0px;
  background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
  filter: grayscale(0);
}

.img-hover-2 {
  --g: 4px;     /* the gap */
  --b: 10px;    /* border thickness*/
  --c: #A79027; /* the color */
  
  height: fit-content;
  width: fit-content;
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(0);
  transition: 0.5s;
}
.img-hover-2:hover {
  --_p: 75%;
  filter: grayscale(0%);
}

.box-portfolio {
  width: 400px;
  height: 150px;
  background: #00000044;
}
/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff90;
  }
  
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #a79027;
    position: relative;
  }
  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #a79027;
    margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    background: #a790273c;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .resume .resume-item ul {
    padding-left: 20px;
  }
  
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #112730;
    border: 2px solid #a79027;
  }
  
.table-hover {
  font-weight: normal;
}

.table-hover tbody tr td:hover{
    color: #a79027;
    font-weight: bolder;
}

.table-hover-dark {
  font-weight: normal;
}

table tbody tr td a {
  color: hsla(43, 100%, 95%, 0.5);
}
table tbody tr td a:hover {
  color: #A79027;
}
.table-hover-dark tbody tr:hover{
    color: #A79027;
    background-color: #112730;
    font-weight: bold;
}

.row-img-responsive {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column-img-responsive {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column-img-responsive img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column-img-responsive {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column-img-responsive {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}


  .container {
    margin-bottom: 10px;
  }

.container-bg-light{
    background: #FFF8E6;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgba(255, 255, 255, 0.36);
}

.text-dark-center{
    color:#112730;
    text-align: center;
}

#footer h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    font-family: "Bebas Neue";
    padding: 0;
    margin: 15px 0 15px 0;
  }
  
  #footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 20px 0;
  }
  
  #footer .social-links {
    margin: 0 0 40px 0;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background:#112730;
    color: #A79027;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #A79027;
    color: #112730;
    text-decoration: none;
  }

  .container-portfolio {
    margin-top: 10vh;
  }

  .container-text-portfolio {
    height: fit-content;
    width: 70vw;
    top: 50%;
    left: 50%;
    margin-top: 2vh;
    margin-left: 5.5vw;
    text-align: center;
    font-size: 3vh;
    color: #A79027;
    background: #112730;
    border-radius: 10px;
    font-size: 12pt;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .card-body {
    background: #112730;
    color: #A79027;
    border-radius: 0 0 10px 10px;
    height: 220px;
  }

  .card {
    border-radius: 0 0 10px 10px;
    border-color: #000000;
    margin-bottom: 15px;

  }

  .card-body:hover {
    color: #112730;
    background: #ffffff;
  }

  .card:hover {
    border-color: #112730;
  }

  .card-img-top {
    height: 10rem;
  }

  .btn-primary {
    background: #112730;
    border-color: #FFF8E6;
    color:#A79027;
    font-size:small;
  }

  .btn-primary:hover {
    background: #A79027;
    border-color: #A79027;
    color:#112730;
  }

  .card-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
